<!-- File: templates/index.html -->
<!doctype html>

<html>
    <head>
    </head>
    <body>
        <div id = "chart_display"></div>
    </body>
    <script src = "https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script src = "./index.js"></script>
    <script>

        const hostname              = "{{ hostname }}";
        const port                  = "{{ port }}";
        const update_ms             = parseInt("{{ update_ms }}");
        const max_samples           = parseInt("{{ max_samples }}");
        const cull_samples          = parseInt("{{ cull_samples }}");
        const chart_width           = parseInt("{{ chart_width }}");
        const chart_height          = parseInt("{{ chart_height }}");

        main();

    </script>
</html>